<ol class="tn-breadcrumbs">
    {{#unless @root.index}}
        <li class="tn-breadcrumb">
            <a href="{{ @root.webRoot }}">Home</a>
        </li>
    {{/unless}}
    {{#each breadcrumb_path}}
    <li class="tn-breadcrumb">
        {{#if file}}
            <a href="{{ @root.webRoot }}{{ path }}">{{ file.title }}</a>
        {{else}}
            {{ name }}
        {{/if}}
    </li>
    {{/each}}
    <li class="tn-breadcrumb tn-breadcrumb--active">
        {{ title }}
    </li>
</ol>
