<!doctype html>
<html class="docs-html">
<head>
  <meta charset="utf-8">
  <title>{{ title }} - {{ docName }}</title>
  {{#if description}}
    <meta name="description" content="{{ description }}">
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title }} - {{ docName }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ thumbnail }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ title }} - {{ docName }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ hostname }}{{ url }}" />
  <meta property="og:image" content="{{ thumbnail }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:site_name" content="{{ docName }}" />

  <link rel="stylesheet" type="text/css" href="{{ webRoot }}style/style.css">
  {{#if enableOpenApi }}
    <link rel="stylesheet" type="text/css" href="{{ webRoot }}script/swagger-ui/swagger-ui-docs-preset.css">
  {{/if}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link id="searchIndex" href="{{ webRoot }}index.json" rel="preload" as="fetch">
</head>
<body class="docs-body">
  <div class="docs-sidebar">
    <nav class="docs-nav">
      <a class="docs-nav__logo" href="{{ webRoot }}"></a>
        {{> _nav navs.primary}}
        {{#if navs.secondary }}
          <hr class="docs-nav__hr" />
          {{> _nav navs.secondary}}
        {{/if}}
        {{#if navs.tertiary }}
          <hr class="docs-nav__hr" />
          {{> _nav navs.tertiary}}
        {{/if}}
    </nav>
  </div>
  <div id="barba-wrapper" class="docs-wrapper">
    <div class="docs-topbar">
      <div class="docs-topbar__search-icon">
        <i class="material-icons md-64">search</i>
      </div>
      <div class="docs-topbar__search">
        <input id="docs-search-box" type="text" class="docs-topbar__searchinput" placeholder="Search" tabindex="1" autocapitalize="none" autocomplete="off" autocorrect="off" type="text" autofocus />
      </div>
      <a href="#" id="docs-search__close" class="docs-search__close"><i class="material-icons md-64">close</i></a>
      <div class="docs-topbar__links">
        <a class="docs-topbar__link" href="#">Support</a>
        <a class="docs-topbar__link" href="#">Dashboard</a>
      </div>
    </div>
    <div class="docs-content barba-container">
      <h1>{{ title }}</h1>
      {{> _breadcrumbs }}
      {{{ contents }}}
      {{#if editUrl }}
        <a class="docs-edit-btn" href="{{ editUrl }}" target="_blank">Edit this page</a>
      {{/if}}
    </div>
    <div id="docs-search" class="docs-search">
      <ul id="docs-search__results" class="docs-search__results"></ul>
    </div>
  </div>
  {{#if enableOpenApi }}
    <script src="{{ webRoot }}script/swagger-ui/swagger-ui-bundle.js" ></script>
    <script src="{{ webRoot }}script/swagger-ui/swagger-ui-docs-preset.js" ></script>
  {{/if}}
  <script src="{{ webRoot }}script/vendor.js" ></script>
  <script src="{{ webRoot }}script/script.js" ></script>
</body>
</html>
